{% load static %}

<!-- Footer Start -->
<div class="footer wow fadeIn" data-wow-delay="0.3s">
  <div class="container-fluid">
    <div class="container">
      <div class="footer-info">
        <h2>Erinle Timilehin</h2>
        <h3>Lagos , Nigeria</h3>
        <div class="footer-menu">
          <p>+234 814 519 6075</p>
          <p>erinletimilehin33@gmail.com</p>
        </div>
        <div class="footer-social">
          <a href="https://github.com/timmySpark"><i class="fab fa-github"></i></a>
          <a href="https://mywa.link/5eku1zip"><i class="fab fa-whatsapp"></i></a>
          <a href="https://www.linkedin.com/in/erinle-timilehin-2a241b1b0/"><i class="fab fa-linkedin-in"></i></a>
          <a <a href="tel:+2348145196075"><i class="fa fa-phone" aria-hidden="true"></i></a>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->
