{% load static %}
{% load crispy_forms_tags %} 
{% load widget_tweaks %} 


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Timmy's portfolio" name="keywords" />
    <meta content="timmy's portfolio" name="description" />
    {% include 'styles.html' %}
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="51">
    {% include 'header.html' %}


    <!-- Hero Start -->
    <div class="hero" id="home">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-sm-12 col-md-6">
            <div class="hero-content">
              <div class="hero-text">
                <p>I'm</p>
                <h1>Erinle Timilehin</h1>
                <h2></h2>
                <div class="typed-text">
                  Software Engineer, Web Designer, Web Developer, Front End Developer, Mobile App
                  Developer , Saxophonist
                </div>
              </div>
              <div class="hero-btn">
                <a download class="btn rounded" href="{% static 'resume\Erinle-Timilehin-Resume.pdf' %}">Download Resume</a>
                <a class="btn rounded" href="#contact">Contact Me</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 d-none d-md-block">
            <div class="hero-image">
              <img src="{% static 'img/timi-pic-nobg.png' %}" alt="Hero Image" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero End -->

    <!-- About Start -->
    <div class="about wow fadeInUp" data-wow-delay="0.1s" id="about">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="about-img">
              <img src="{% static 'img/timi-pic.jpg' %}" width="800" height="1000" alt="Image" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="about-content">
              <div class="section-header text-left">
                <p>Learn About Me</p>
                <h2>2 Years Experience</h2>
              </div>
              <div class="about-text">
                <p> {{about}} </p>
              </div>
              <div class="skills">
                {% for skill in skills  %}
                <div class="skill-name">
                  <p>{{skill.name}}</p>
                  <p>{{skill.skill_percent}}%</p>
                </div>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="{{skill.skill_percent}}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                {% endfor %}
              </div>
              <a class="btn rounded" href="">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->

    <!-- Service Start -->
    <div class="service" id="service">
      <div class="container">
        <div
          class="section-header text-center wow zoomIn"
          data-wow-delay="0.1s"
        >
          <p>What I do</p>
          <h2>Awesome Quality Services</h2>
        </div>
        <div class="row">
          {% for s in services %}
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.0s">
            <div class="service-item">
              <div class="service-icon">
                <i class="{{s.icon_name}}"></i>
              </div>
              <div class="service-text">
                <h3>{{s.name}}</h3>
                <p>
                 {{s.description}}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Service End -->

    <!-- Education Start -->
    <div class="experience" id="experience">
      <div class="container">
        <header
          class="section-header text-center wow zoomIn"
          data-wow-delay="0.1s"
        >
          <p>My Education</p>
          <h2>Education</h2>
        </header>
        <div class="timeline">
          {% for e in education  %}
           <div class="timeline-item {{e.direction}} wow {{e.slide}}" data-wow-delay="0.1s">
            <div class="timeline-text">
              <div class="timeline-date">{{e.duration}}</div>
              <h2>{{e.course_Name}}</h2>
              <h4>{{e.school_Name}} </h4>
              <p>
                {{e.description}}
              </p>
            </div>
          </div>
          {% endfor %}
          </div>
        </div> 
      </div>
    </div>
    <!-- Education End -->

    <!-- Portfolio Start -->
    <div class="portfolio" id="projects">
      <div class="container">
        <div
          class="section-header text-center wow zoomIn"
          data-wow-delay="0.1s"
        >
          <p>My Projects</p>
          <h2>My Excellent Projects</h2>
        </div>
        <div class="row">
          <div class="col-12">
            <ul id="portfolio-filter">
              <li data-filter="*" class="filter-active">All</li>
              {% for c in categories  %}
              <li data-filter=".filter-{{c.name|cut:" "}}">{{c.name}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="row portfolio-container">
          {% for p in projects  %}
          <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-{{p.category.name|cut:" "}} wow fadeInUp" data-wow-delay="0.0s">
              <div class="portfolio-wrap">
                  <div class="portfolio-img">
                      <img src="{{p.image.url}}" alt="Image">
                      <div class="portfolio-overlay"></div>
                      <div class="d-flex flex-column align-items-center justify-space-between">                
                        <a class="text-white preview-btn fw-3" href="{{p.previewlink}}">
                          <i class="fas fa-search"></i>
                          Preview
                        </a>
                      </div>
                  </div>
                  <div class="portfolio-text text-center">
                      <h3 >{{p.name|capfirst}}</h3>
                      <a class="btn" href="{{p.image.url}}" target="_blank" data-lightbox="portfolio">+</a> 
                  </div>               
              </div>
          </div>
          {% endfor %}
      </div>
    </div>
   </div>
    <!-- Portfolio End -->


    <!-- Testimonial Start -->
    <div class="testimonial wow fadeInUp" data-wow-delay="0.1s" id="review">
      <div class="container">
        <div class="testimonial-icon">
          <i class="fa fa-quote-left"></i>
        </div>
        <div class="owl-carousel testimonials-carousel">
          {% for t in testimonial  %}
           <div class="testimonial-item">
            <div class="testimonial-img">
              <img src="{{t.customerImage.url}}" alt="Image" />
            </div>
            <div class="testimonial-text">
              <p>
               {{t.customerComment}}
              </p>
              <h3>{{t.customerName}}</h3>
              <h4>{{t.customerProfession}}</h4>
            </div>
          </div>
          {% endfor %} 
        </div>
      </div>
    </div>
    <!-- Testimonial End -->

    <!-- Contact Start -->
    
    <div class="contact wow fadeInUp" data-wow-delay="0.1s" id="contact">
      <div class="container-fluid">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <div class="contact-form">
                <div id="success"></div>
                <form
                  method = "POST"
                  name="sentMessage"
                  id="contactForm"
                  novalidate
                > {% csrf_token %} 
                  <div class="control-group text-white">
                      {{form.name|add_class:"form-control "|attr:"type:text"|as_crispy_field}}
                  </div>
                  <div class="control-group text-white">
                    {{form.email|add_class:"form-control "|attr:"type:email"|as_crispy_field}}
                  </div>
                  <div class="control-group text-white ">
                    {{form.subject|add_class:"form-control "|attr:"type:text"|as_crispy_field}}
                  </div>
                  <div class="control-group text-white">
                    {{form.message|add_class:"form-control "|attr:"type:textarea"|as_crispy_field}}
                  </div>
                  <div>
                    <button class="btn rounded" type="submit">
                      Send Message
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact End -->

    {% include 'footer.html' %}

    <!-- Back to top button -->
    <a href="#" class="btn back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Pre Loader -->
    <div id="loader" class="show">
      <div class="loader"></div>
    </div>

    {% include 'scripts.html' %}
  </body>
</html>
