{% load static %}

<!-- JavaScript libsraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'libs/easing/easing.min.js' %}"></script>
<script src="{% static 'libs/wow/wow.min.js' %}"></script>
<script src="{% static 'libs/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'libs/typed/typed.min.js' %}"></script>
<script src="{% static 'libs/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'libs/isotope/isotope.pkgd.min.js' %}"></script>
{% comment %} <script src="{% static 'libs/lightbox/js/lightbox.js' %}"></script> {% endcomment %}

<!-- My Javascript File -->
<script src="{% static 'js/main.js' %}"></script>
