{% load static %}

<!-- Favicon -->
<link href="img/favicon.ico" rel="icon" />

<!-- Google Font -->
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
  rel="stylesheet"
  type="text/css"
/>

<!-- CSS Libraries -->
<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
  rel="stylesheet"
  type="text/css"
/>
<link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet" />
<link
  href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'lib/lightbox/css/lightbox.min.css' %}"
  rel="stylesheet"
  type="text/css"
/>

<!-- My Stylesheet -->
<link href="{% static 'css/style.css' %}" rel="stylesheet"   type="text/css"
/>

